<div style="display:flex;  align-items: center; flex-flow: column;">
  <div><button (click)="AddCounter()">Add Counter</button></div>
  <counter-detail [count]="count" *ngFor="let count of counters"></counter-detail>
  <super-counter [count]="super" *ngFor="let super of superCounters"></super-counter>
  <super-duper [count]="superDuper" *ngFor="let superDuper of superDuperCounters"></super-duper>
  <colossal-counter [count]="colossal" *ngFor="let colossal of colossalCounters"></colossal-counter>
</div>
